CompileFlags:
  Add:
    - -Iexternal/notcurses/include
    - -Iexternal/compat/include
    - -std=c11
    - -Wall
    - -Wextra

Diagnostics:
  Suppress:
    - unresolved-includes

Index:
  Background: Build

InlayHints:
    Enabled: false

Completion:
    AllScopes: True
    ArgumentLists: None
    HeaderInsertion: Never
    CodePatterns: All
